@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: "Archivo", sans-serif;

  /* dark theme */
  --color-main-dark-900: #986dff;
  --bg-main-dark-900: #111111;
  --bg-main-dark-800: #151515;
  --text-main-dark: #9ca3af;

  /* light theme */
  --color-main-light-900: #f8867a;
  --bg-main-light-900: #e4f0fa;
  --bg-main-light-800: #e6eef8;
}
