@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: "Archivo", sans-serif;

  /* dark theme */
  --color-main-dark: #986dff;
  --color-font-dark: #9ca3af;
  --color-dark-900: #111111;
  --color-dark-800: #151515;

  /* light theme */
  --color-main-light: #f8867a;
  --color-font-light: #7a8aac;
  --color-light-900: #e4f0fa;
  --color-light-800: #e6eef8;
}
